USE [master]
GO
/****** Object:  Database [FuelDB]    Script Date: 4/26/2023 10:21:51 AM ******/
CREATE DATABASE [FuelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FuelDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FuelDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FuelDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FuelDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FuelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FuelDB]
GO
/****** Object:  Table [dbo].[AppVersionFuel]    Script Date: 4/26/2023 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppVersionFuel](
	[LatesVersion] [nvarchar](50) NOT NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_App_Version_Fuel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendantsList]    Script Date: 4/26/2023 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendantsList](
	[Id] [uniqueidentifier] NOT NULL,
	[AttendantName] [nvarchar](50) NOT NULL,
	[EncryptionKey] [nvarchar](500) NOT NULL,
	[Shortcode] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_AttendantsList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuelPrices]    Script Date: 4/26/2023 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuelPrices](
	[Id] [uniqueidentifier] NOT NULL,
	[DIESEL] [decimal](14, 4) NOT NULL,
	[BENZEL] [decimal](14, 4) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[InsertUser] [nvarchar](50) NOT NULL,
	[UpdateUser] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FuelPrices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuleOTP]    Script Date: 4/26/2023 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuleOTP](
	[FulePhone] [varchar](50) NOT NULL,
	[FuOTP] [varchar](10) NOT NULL,
	[FuleExpTime] [datetime] NOT NULL,
 CONSTRAINT [PK_OTP] PRIMARY KEY CLUSTERED 
(
	[FulePhone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MerchantInfo]    Script Date: 4/26/2023 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantInfo](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Shortcode] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[KYC] [nvarchar](max) NULL,
	[Status] [nvarchar](10) NULL,
	[InsertDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[InsertUser] [nvarchar](10) NOT NULL,
	[UpdateUser] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Merchant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MerchantSimulation]    Script Date: 4/26/2023 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MerchantSimulation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](255) NULL,
	[MerchantShortCode] [nvarchar](255) NULL,
	[MerchantName] [nvarchar](255) NULL,
 CONSTRAINT [PK_MerchantSimulation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TXN]    Script Date: 4/26/2023 10:21:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TXN](
	[Id] [uniqueidentifier] NOT NULL,
	[TillCode] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Amount] [decimal](15, 2) NOT NULL,
	[PlateNo] [nvarchar](20) NOT NULL,
	[TransactionId] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[OperatorName] [nvarchar](100) NULL,
	[Type] [nvarchar](10) NOT NULL,
	[TransactionEndFuel] [datetime] NOT NULL,
	[InsertDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[InsertUser] [nvarchar](10) NULL,
	[UpdateUser] [nvarchar](10) NULL,
 CONSTRAINT [PK_TXN] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AttendantsList] ADD  CONSTRAINT [DF_AttendantsList_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AttendantsList] ADD  CONSTRAINT [DF_AttendantsList_Shortcode]  DEFAULT (newid()) FOR [Shortcode]
GO
ALTER TABLE [dbo].[FuelPrices] ADD  CONSTRAINT [DF_FuelPrices_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TXN] ADD  CONSTRAINT [DF_TXN_Id]  DEFAULT (newid()) FOR [Id]
GO
USE [master]
GO
