<link href="~/Styling/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
<!--end::Page Vendor Stylesheets-->
<!--begin::Global Stylesheets Bundle(used by all pages)-->
<link href="~/Styling/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
<link href="~/Styling/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">About Us</h1>
                <!--end::Title-->
                <!--begin::Separator-->
                <span class="h-20px border-gray-300 border-start mx-4"></span>
                <!--end::Separator-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="Home" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-300 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->

                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">About Us</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center gap-2 gap-lg-3"></div>
            <!--end::Actions-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::About card-->
            <div class="card">
                <!--begin::Body-->
                <div class="card-body p-lg-17">
                    <!--begin::About-->
                    <div class="mb-18">
                        <!--begin::Wrapper-->
                        <div class="mb-10">
                            <!--begin::Top-->
                            <div class="text-center mb-15">
                                <!--begin::Title-->
                                <h3 class="fs-2hx text-dark mb-5">About Us</h3>
                                <!--end::Title-->
                                <!--begin::Text-->
                                <div class="fs-5 text-muted fw-bold">
                                    CBE Birr is a mobile banking services streamed by Commercial Bank of Ethiopia through banking agents.
                                    <br />The bank selects, trains and authorizes agents to provide banking services on behalf of the bank through a mobile phone.
                                </div>
                                <!--end::Text-->
                            </div>
                            <!--end::Top-->
                        </div>
                        <!--end::Wrapper-->
                       
                    </div>
                    <!--end::About-->
                    <!--begin::Statistics-->
                    <div class="card bg-light mb-18 ">
                        <!--begin::Body-->
                        <div class="card-body py-15   ">
                            <!--begin::Wrapper-->
                            <div class=" flex-center flex-column ">
                                <!--begin::Items-->
                                <div class="d-sm-flex justify-content-between mb-10 mx-auto w-xl-900px ">
                                    <!--begin::Item-->
                                    
                                    <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-2 ">
                                        <!--begin::Content-->
                                        <div class="text-center">
                                            <!--begin::Symbol-->
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                                            <span class="svg-icon svg-icon-2tx svg-icon-primary">
                                                <svg xmlns="#" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <rect x="2" y="2" width="9" height="9" rx="2" fill="#990099" />
                                                    <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="#990099" />
                                                    <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="#990099" />
                                                    <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="#990099" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <!--end::Symbol-->
                                            <!--begin::Text-->
                                            <div class="mt-1">
                                                <!--begin::Animation-->
                                                <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                                    <div class="min-w-50px" data-kt-countup="true" data-kt-countup-value="20">0</div>M+
                                                </div>
                                                <!--end::Animation-->
                                                <!--begin::Label-->
                                                <span class="text-gray-600 fw-bold fs-5 ">Customers</span>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-2 ">
                                        <!--begin::Content-->
                                        <div class="text-center">
                                            <!--begin::Symbol-->
                                            <!--begin::Svg Icon | path: icons/duotune/graphs/gra008.svg-->
                                            <span class="svg-icon svg-icon-2tx svg-icon-success">
                                                <svg xmlns="#" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path d="M13 10.9128V3.01281C13 2.41281 13.5 1.91281 14.1 2.01281C16.1 2.21281 17.9 3.11284 19.3 4.61284C20.7 6.01284 21.6 7.91285 21.9 9.81285C22 10.4129 21.5 10.9128 20.9 10.9128H13Z" fill="#990099" />
                                                    <path opacity="0.3" d="M13 12.9128V20.8129C13 21.4129 13.5 21.9129 14.1 21.8129C16.1 21.6129 17.9 20.7128 19.3 19.2128C20.7 17.8128 21.6 15.9128 21.9 14.0128C22 13.4128 21.5 12.9128 20.9 12.9128H13Z" fill="#990099" />
                                                    <path opacity="0.3" d="M11 19.8129C11 20.4129 10.5 20.9129 9.89999 20.8129C5.49999 20.2129 2 16.5128 2 11.9128C2 7.31283 5.39999 3.51281 9.89999 3.01281C10.5 2.91281 11 3.41281 11 4.01281V19.8129Z" fill="#990099" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <!--end::Symbol-->
                                            <!--begin::Text-->
                                            <div class="mt-1">
                                                <!--begin::Animation-->
                                                <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                                    <div class="min-w-50px" data-kt-countup="true" data-kt-countup-value="80">0</div>K+
                                                </div>
                                                <!--end::Animation-->
                                                <!--begin::Label-->
                                                <span class="text-gray-600 fw-bold fs-5  text-sm-center">Daily Exchange</span>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-2">
                                        <!--begin::Content-->
                                        <div class="text-center">
                                            <!--begin::Symbol-->
                                            <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm002.svg-->
                                            <span class="svg-icon svg-icon-2tx svg-icon-info">
                                                <svg xmlns="#" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path d="M21 10H13V11C13 11.6 12.6 12 12 12C11.4 12 11 11.6 11 11V10H3C2.4 10 2 10.4 2 11V13H22V11C22 10.4 21.6 10 21 10Z" fill="#990099" />
                                                    <path opacity="0.3" d="M12 12C11.4 12 11 11.6 11 11V3C11 2.4 11.4 2 12 2C12.6 2 13 2.4 13 3V11C13 11.6 12.6 12 12 12Z" fill="#990099" />
                                                    <path opacity="0.3" d="M18.1 21H5.9C5.4 21 4.9 20.6 4.8 20.1L3 13H21L19.2 20.1C19.1 20.6 18.6 21 18.1 21ZM13 18V15C13 14.4 12.6 14 12 14C11.4 14 11 14.4 11 15V18C11 18.6 11.4 19 12 19C12.6 19 13 18.6 13 18ZM17 18V15C17 14.4 16.6 14 16 14C15.4 14 15 14.4 15 15V18C15 18.6 15.4 19 16 19C16.6 19 17 18.6 17 18ZM9 18V15C9 14.4 8.6 14 8 14C7.4 14 7 14.4 7 15V18C7 18.6 7.4 19 8 19C8.6 19 9 18.6 9 18Z" fill="#990099" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <!--end::Symbol-->
                                            <!--begin::Text-->
                                            <div class="mt-1">
                                                <!--begin::Animation-->
                                                <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                                    <div class="min-w-50px" data-kt-countup="true" data-kt-countup-value="10">0</div>K+
                                                </div>
                                                <!--end::Animation-->
                                                <!--begin::Label-->
                                                <span class="text-gray-600 fw-bold fs-5 ">Fuel App</span>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Item-->
                                </div>
                                <!--end::Items-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Testimonial-->
                            <div class="fs-2 fw-bold text-muted text-center mb-3">
                                <span class="fs-1 lh-1 text-gray-700">“</span>The Bank You Can Always
                                <br />
                                <span class="text-gray-700 me-1">Rely On!</span>
                                <span class="fs-1 lh-1 text-gray-700">“</span>
                            </div>
                            <!--end::Testimonial-->
                           
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics-->
                    <!--begin::Team-->
                    <div class="mb-18">
                        <!--begin::Heading-->
                        <div class="text-center mb-12">
                            <!--begin::Title-->
                            <h3 class="fs-2hx text-dark mb-5">Our Products</h3>
                            <!--end::Title-->
                            <!--begin::Sub-title-->
                            <div class="fs-5 text-muted fw-bold">
                                We have other financial applications that represent service for commercial 
                                <br />bank of ethiopia for both IOS and Android users.
                            </div>
                            <!--end::Sub-title=-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Slider-->
                        <div class="tns tns-default mb-10">
                            <!--begin::Wrapper-->
                            <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false" data-tns-items="1" data-tns-center="false" data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev" data-tns-next-button="#kt_team_slider_next" data-tns-responsive="{1200: {items: 3}, 992: {items: 2}}">
                                <!--begin::Item-->
                                <div class="text-center">
                                    <!--begin::Photo-->
                                    <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../Styling/assets/media/logos/cbebirr.png')"></div>
                                    <!--end::Photo-->
                                    <!--begin::Person-->
                                    <div class="mb-0">
                                        <!--begin::Name-->
                                        <a href="https://play.google.com/store/apps/details?id=prod.cbe.birr&hl=en&gl=US" class="text-dark fw-bolder text-hover-primary fs-3">CBEBirr</a>
                                        <!--end::Name-->
                                        <!--begin::Position-->
                                        <div class="text-muted fs-6 fw-bold mt-1">Mobile Application</div>
                                        <!--begin::Position-->
                                    </div>
                                    <!--end::Person-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="text-center">
                                    <!--begin::Photo-->
                                    <div class="octagon mx-auto mb-5 d-flex w-80px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../Styling/assets/media/logos/fuelIcon.png')"></div>
                                    <!--end::Photo-->
                                    <!--begin::Person-->
                                    <div class="mb-0">
                                        <!--begin::Name-->
                                        <a href="https://play.google.com/store/apps/details?id=prod.cbe.birr.FuelPay&hl=en_US" class="text-dark fw-bolder text-hover-primary fs-3">Fuel App</a>
                                        <!--end::Name-->
                                        <!--begin::Position-->
                                        <div class="text-muted fs-6 fw-bold mt-1">Mobile Application</div>
                                        <!--begin::Position-->
                                    </div>
                                    <!--end::Person-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="text-center">
                                    <!--begin::Photo-->
                                    <div class="octagon mx-auto mb-5 d-flex w-80px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../Styling/assets/media/logos/bi.png')"></div>
                                    <!--end::Photo-->
                                    <!--begin::Person-->
                                    <div class="mb-0">
                                        <!--begin::Name-->
                                        <a href="https://play.google.com/store/apps/details?id=com.combanketh.mobilebanking&hl=en&gl=US" class="text-dark fw-bolder text-hover-primary fs-3">Mobile Banking</a>
                                        <!--end::Name-->
                                        <!--begin::Position-->
                                        <div class="text-muted fs-6 fw-bold mt-1">Mobile Application</div>
                                        <!--begin::Position-->
                                    </div>
                                    <!--end::Person-->
                                </div>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <div class="text-center">
                                    <!--begin::Photo-->
                                    <div class="octagon mx-auto mb-5 d-flex w-75px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../Styling/assets/media/logos/eti.png')"></div>
                                    <!--end::Photo-->
                                    <!--begin::Person-->
                                    <div class="mb-0">
                                        <!--begin::Name-->
                                        <a href="https://play.google.com/store/apps/details?id=com.combanketh.ethiodirect&hl=en&gl=US" class="text-dark fw-bolder text-hover-primary fs-3">Ethio Direct</a>
                                        <!--end::Name-->
                                        <!--begin::Position-->
                                        <div class="text-muted fs-6 fw-bold mt-1">Mobile Application</div>
                                        <!--begin::Position-->
                                    </div>
                                    <!--end::Person-->
                                </div>
                                <!--end::Item-->
                       
                              
                             
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Button-->
                            <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_prev">
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr074.svg-->
                                <span class="svg-icon svg-icon-3x">
                                    <svg xmlns="#" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M11.2657 11.4343L15.45 7.25C15.8642 6.83579 15.8642 6.16421 15.45 5.75C15.0358 5.33579 14.3642 5.33579 13.95 5.75L8.40712 11.2929C8.01659 11.6834 8.01659 12.3166 8.40712 12.7071L13.95 18.25C14.3642 18.6642 15.0358 18.6642 15.45 18.25C15.8642 17.8358 15.8642 17.1642 15.45 16.75L11.2657 12.5657C10.9533 12.2533 10.9533 11.7467 11.2657 11.4343Z" fill="#990099" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </button>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_next">
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
                                <span class="svg-icon svg-icon-3x">
                                    <svg xmlns="#" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="#990099" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </button>
                            <!--end::Button-->
                        </div>
                        <!--end::Slider-->
                    </div>
                    <!--end::Team-->
                 
                </div>
                <!--end::Body-->
            </div>
            <!--end::About card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
<script src="~/Styling/assets/plugins/global/plugins.bundle.js"></script>
<script src="~/Styling/assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="~/Styling/assets/plugins/custom/fslightbox/fslightbox.bundle.js"></script>
<script src="~/Styling/assets/plugins/custom/datatables/datatables.bundle.js"></script>
<!--end::Page Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="~/Styling/assets/js/widgets.bundle.js"></script>
<script src="~/Styling/assets/js/custom/widgets.js"></script>
<script src="~/Styling/assets/js/custom/apps/chat/chat.js"></script>
<script src="~/Styling/assets/js/custom/utilities/modals/upgrade-plan.js"></script>
<script src="~/Styling/assets/js/custom/utilities/modals/create-app.js"></script>
<script src="~/Styling/assets/js/custom/utilities/modals/users-search.js"></script>