
@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic - Bootstrap 5 HTML, VueJS, React, Angular & Laravel Admin Dashboard Theme
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->
<head>
    <base href="../../">
    <title>CEBirr Fuel - Commercial Bank of Ethiopia</title>
    <meta charset="utf-8" />
    <meta name="description" content="The most advanced dashoard for merchant adminstrators" />
    <meta name="keywords" content="CBEBirr, Fuel App, CBE, Commercial Bank of Ethiopia" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="CBEBirr - Dashboard to manage fuel payment on behalf of the merchant" />
    <meta property="og:site_name" content="Commercial Bank of Ethiopia | CBEBirr" />
    <link rel="shortcut icon" href="~/Styling/assets/media/logos/favicon.ico" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="~/fonts/Poppins/poppins.css" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="~/Styling/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Styling/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <style>
        #btnbackhome:hover {
            background-color: #990099 !important;
        }
    </style>
    <style>
        #btnbackhome:focus {
            background-color: #990099 !important;
        }
    </style>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="auth-bg">
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Authentication - 404 Page-->
        <div class="d-flex flex-column flex-center flex-column-fluid p-10">
            <!--begin::Illustration-->
            <img src="~/Styling/assets/media/illustrations/sketchy-1/18.png" alt="" class="mw-100 mb-10 h-lg-450px" />
            <!--end::Illustration-->
            <!--begin::Message-->
            <h1 class="fw-bold mb-10" style="color: #A3A3C7">Invalid Request</h1>
            <!--end::Message-->
            <!--begin::Link-->
            <a href="/Home/Home" style="background-color:#990099" id="btnbackhome" class="btn btn-primary">Return Home</a>
            <!--end::Link-->
        </div>
        <!--end::Authentication - 404 Page-->
    </div>
    <!--end::Root-->
    <!--end::Main-->
    <!--begin::Javascript-->
    <script>var hostUrl = "assets/";</script>
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="~/Styling/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/Styling/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--end::Javascript-->
</body>
<!--end::Body-->
</html>
